<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a asp-area="Admin" asp-controller="ThingIDo" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>کارهایی که انجام میدهم</span>
                </a>
            </li>

            <li>
                <a asp-area="Admin" asp-controller="CustomerFeedback" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>نظر مشتریان</span>
                </a>
            </li>

             <li>
                <a asp-area="Admin" asp-controller="CustomerLogo" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span> مشتریان</span>
                </a>
            </li>

            <li>
                <a asp-area="Admin" asp-controller="Education" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>تحصیلات</span>
                </a>
            </li>


            <li>
                <a asp-area="Admin" asp-controller="Experience" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>تجربیات</span>
                </a>
            </li>

            
            <li>
                <a asp-area="Admin" asp-controller="Skill" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>مهارت ها</span>
                </a>
            </li>


             <li>
                <a asp-area="Admin" asp-controller="PortfolioCategory" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>دسته بندی نمونه کارها</span>
                </a>
            </li>

             <li>
                <a asp-area="Admin" asp-controller="Portfolio" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>نمونه کارها </span>
                </a>
            </li>

            <li>
                <a  onclick ="LoadInformationFormModal()" href="#">
                    <i class="ti-clipboard"></i>
                    <span>اطلاعات </span>
                </a>
            </li>

            

            <li>
                <a asp-area="Admin" asp-controller="SocialMedia" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>شبکه های اجتماعی </span>
                </a>
            </li>


              <li>
                <a asp-area="Admin" asp-controller="Message" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>پیام ها</span>
                </a>
            </li>

           



        </ul>
    </section>
</aside>