@using Resume.Domain.ViewModels.CustomerLogo
@using Resume.Application.StaticTools
@model List<CustomerLogoListViewModel>


<div class="section">
    <h2 class="title title--h2">مشتری</h2>
    <div class="swiper-container js-carousel-clients">
        <div class="swiper-wrapper">


            <!-- Item client -->
            @foreach(CustomerLogoListViewModel item in Model)
            {
              <div class="swiper-slide">
                <a href="@item.Link"><img src="@(FilePaths.CustomerLogo + item.Logo)" alt="@item.LogoAlt"></a>
              </div>
            }


         

            <!-- Item client -->
            <div class="swiper-slide">
                <a href="#"><img src="/site/img/download.jpg" alt="لوگو"></a>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>
