@model Resume.Domain.ViewModels.Page.IndexPageViewModel

@{
    ViewData["Title"] = "Home Page";
}


<!-- About -->
<div class="section mt-0">
    <h1 class="title title--h1 title__separate">درمورد من</h1>
    <div class="pt-2 pt-sm-3">
        <p>من مدیر خلاق و طراح UI / UX از سیدنی ، استرالیا هستم که در زمینه توسعه وب و رسانه های چاپی کار می کنم. من از تبدیل مشکلات پیچیده به طرح های ساده ، زیبا و بصری لذت می برم.</p>
        <p class="mb-0">کار من ساخت وب سایت شما به گونه ای است که کاربردی و کاربر پسند باشد اما در عین حال جذاب باشد. علاوه بر این ، من لمس شخصی به محصول شما اضافه می کنم و مطمئن هستم که چشم نواز است و کاربرد آن آسان است. هدف من این است که پیام و هویت شما را با خلاقانه ترین راه بیان کنم. من طراحی وب را برای بسیاری از شرکتهای معروف مارک ایجاد کردم.</p>
    </div>
</div>


@if (Model.ThingIDoList != null && Model.ThingIDoList.Any())
{
    <partial name="_ThingIDoPartial" model="@Model.ThingIDoList" /> 
}


@if (Model.CustomerFeedbackList != null && Model.CustomerFeedbackList.Any())
{
    <partial name="_CustomerFeedbackPartial" model="@Model.CustomerFeedbackList" /> 
}



@if (Model.CustomerLogoList != null && Model.CustomerLogoList.Any())
{
    <partial name="_CustomerLogoPartial" model="@Model.CustomerLogoList" /> 
}
